.nav-container {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	position: fixed;
	top: 0;
	width: 100%;
}

.links-container {
	display: flex;
	justify-content: space-around;
	gap: 10px;
	margin: 20px;
	text-transform: uppercase;
	font-weight: 800;
}

a {
	font-weight: 700;
	color: grey;
	text-decoration: inherit;
}
