.nav-container {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.logo {
	margin: 0px 0px 0px 100px;
}

.links-container {
	display: flex;
	justify-content: space-around;
	gap: 30px;
	margin: 20px 100px;
	text-transform: uppercase;
	font-weight: 800;
}

a {
	font-weight: 700;
	color: grey;
	text-decoration: inherit;
}

.footer {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #2c343e;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.socials-container {
	display: flex;
	justify-content: space-around;
	gap: 40px;
	margin: 20px 100px;
}
